.header {
    margin: auto;
    width: 100%;
    height: auto;
    text-align: justify;
}

.logo {
    width: 400px;
    margin: 20px;
    margin-top: 0;
    margin-left: 30%;
}



@media only screen and (max-width : 600px) {
    .header {
        margin: auto;
        width: 100%;
        height: auto;
        text-align: justify;
    }

    .logo {
        width: 300px;
        margin-left: 30%;
        margin-top: 0;
    }
}